<!-- attendance/templates/attendance/leaderboard.html -->
{% extends 'attendance/base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-2xl font-bold mb-4">Leaderboard</h2>
    <table class="table">
        <thead>
            <tr>
                
                <th>Student</th>
                <th>Present Days</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_leaderboard %}
                <tr>
             
                    <td>{{ student.username }}</td>
                    <td>{{ student.present_days }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
